{% extends 'base.html' %}

{% block title %}Login - Secure Face Authentication{% endblock %}

{% block content %}

<div class="container">
    <form method="POST">
        <div align="center"><h1>Login with yout username and the OTP that is send to your registered email address</h1></div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">OTP </label>
            <input type="password" class="form-control" id="exampleInputPassword2" name="otp">
          </div>

        <button type="submit" class="btn btn-primary">Register face</button>
        <!-- <p>Don't have an account? <a href="{{ url_for('views.signup') }}">Register here</a>.</p> -->
      </form>
</div>
    
{% endblock %}