{% extends 'base.html' %}

{% block title %}Home - TheMusicianTheory{% endblock %}

{% block content %}

<div class="container">
    <form method="POST">
        <div align="center" ><h1>SignUp</h1></div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input class="form-control" type="text"  aria-label="default input example" id="username" name="username">
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Re-type Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" name="password2">
          </div>
        <div >
            <button type="submit" class="btn btn-primary">Register Face</button>
        </div>
        <p>Already have an account? <a href="{{ url_for('views.login') }}">Login here</a>.</p>
      </form>
</div>
    
{% endblock %}